#picture {
text-align: center;
border-radius: 10%;

}

.container {
    text-align: center;
}

.form-area {
    text-align: center;
    margin: auto;
    padding-left: 50px;
    max-width: 100%;
}
a.button {

    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
    color: initial;
    margin-top: 100px;
}
.btn {
    margin-top: 50px;
    background-image: url(./assets/images/otter.jpg)
}
.carousel-inner {
    max-width: 400px;
    margin: auto;
    border-radius: 50%;
}

.navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.navbar a:hover {
    background: #f1f1f1;
    color: black;
}


}

.main {
    padding: 16px;
    margin-bottom: 30px;
}

.col-sm {
    max-height: 100%;
}